:root {
  --main-gold: #cdbe70;
  /* old-gold: #b8860b; */
  --main-header: rgba(0, 0, 0, 0.9);
  --background-1: #171717;
  --background-2: #1a1a1a;
  --main-white: #f0f0f0;
  --main-text2: ;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
html {
  box-sizing: border-box;
  scroll-behavior: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  /* New scalable text using modular scale
  https://www.codementor.io/ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g */
  font-size: 100%;
  line-height: 1.5rem;
  color: var(--main-gold);
  text-align: center;
  text-justify: center;
  background-color: var(--background-2);
  /* background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
}

h1 {
  font-size: 2.25rem;
  line-height: 2.4; /* Responsive Vertical Rhythm */
}

h2 {
  font-size: 1.45rem;
  line-height: 2.16rem; /* Responsive Vertical Rhythm */
}

/* Responsive Vertical Rhythm */
h3 {
  font-size: 1.45rem;
  line-height: 1.92rem;
}

h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.85028rem;
}
h6 {
  font-size: 0.78405rem;
}

/* Responsive Vertical Rhythm */
h4,
h5,
h6 {
  line-height: 1.68rem;
}

/*Responsive margins*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}
/* ul {
  list-style: none;/
} */

a {
  text-decoration: none;
  color: var(--main-gold);
}

img {
  display: block;
  /* width: auto; */
}

.main-container {
  height: 100%;
  display: grid;
  /* grid-gap: 0.5em; */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4em auto 4em;
  grid-template-areas:
    'h h h h h h h h h h h h'
    'c c c c c c c c c c c c'
    'f f f f f f f f f f f f';
}

.header {
  background: var(--background-1);
  grid-area: h;
  position: sticky;
  top: 0;
  display: grid;
  /* grid-gap: 5px; */
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: 4em;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.header-logo {
  height: 2.5em;
}

.nav {
  /* display: flex;
  align-content: center;
  justify-content: space-evenly;
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-1);
  z-index: 10; */
}

.nav-list {
  padding: 0% 2%;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  /* align-items: center; */
}

.nav-link {
  padding: 1em;
}

.nav-list .nav-link {
  /* text-align: center;
  text-justify: center; */
  /* display: block;
  font-size: 1rem;
  padding: 1em; */
}
.nav-list img {
  /* display: block;
  font-size: 1.0rem; */
  /* margin: 0.5rem; */
}

.header a:hover {
  background: var(--main-white);
}
/* .welcome-background {
  margin-top: 3.8em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row;
  width: 100%;
  height: 120vh;
  background-image: url("http://frasersgh.com/images/gallary/fr_0276.jpg");
} */
.content {
  grid-area: c;
  display: grid;
  /* grid-gap: 0.5em; */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 120vh repeat(5, auto);
  grid-template-areas:
    'c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1 c1'
    'c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2 c2'
    'c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3 c3'
    'c4 c4 c4 c4 c4 c4 c4 c4 c4 c4 c4 c4'
    'c5 c5 c5 c5 c5 c5 c5 c5 c5 c5 c5 c5'
    'c6 c6 c6 c6 c6 c6 c6 c6 c6 c6 c6 c6';
}

.welcome-container {
  grid-area: c1;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 1vw auto 1vw;
  grid-template-rows: 10vh auto 40vh;
  grid-template-areas:
    '. . .'
    '. w .'
    '. . .';
  /* margin-top: 4em; */
  /* padding: 70px 5px; */
  /* width: 100vw; */
  /* height: 120vh; */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('images/fr_0276.jpg');
}

.welcome-box {
  /* display: flex; */
  /* justify-content: center; */
  /* align-content: center; */
  /* flex-direction: row; */
  /* box-sizing: border-box; */
  /* overflow: hidden; */
  /* width: auto; */
  /* height: auto; */
  /* margin: 2%; */
  /* max-width: 350px; */
  padding: 10%;

  grid-area: w;
  background-color: var(--main-header);
}
.welcome-box div {
  /* box-sizing: border-box; */
  outline: thin solid var(--main-gold);
  /* position: relative;
  right: 30px;
  bottom: 30px; */
  padding: 10%;
  /* margin: 5%; */
  /* background-color: var(--main-header); */
}
.welcome-box div div {
  /* box-sizing: border-box; */
  /* outline: thin solid var(--main-gold); */
  /* position: relative;
  left: 30px;
  top: 30px; */
  padding: 5%;
  /* margin: 0%; */
  /* background-color: var(--main-header); */
  /* float: left; */
}

.title {
  font-size: 3.5rem;
  color: var(--main-white);
}

.spaced-text {
  letter-spacing: 0.5rem;
}

#about {
  grid-area: c2;
}

.about-container {
  /* height: 100%; */
  /* max-width: 1200px; */
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 0.25em repeat(10, minmax(10px, 108px)) 0.25em;
  grid-row: repeat(8, minmax(200px, 500px));

  grid-template-areas:
    'h h h h h h h h h h h h'
    '. p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 .'
    '. t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 .'
    '. p2 p2 p2 p2 p2 p2 p2 p2 p2 p2 .'
    '. t2 t2 t2 t2 t2 t2 t2 t2 t2 t2 .'
    '. p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 .'
    '. t3 t3 t3 t3 t3 t3 t3 t3 t3 t3 .'
    '. p4 p4 p4 p4 p4 p4 p4 p4 p4 p4 .';
}

.about-header {
  grid-area: h;
  padding: 3rem 0 0;
}

#about-pic {
  grid-area: p1;
}

#about-text {
  grid-area: t1;
}

#happy-hour-pic {
  grid-area: p2;
}

#happy-hour-text {
  grid-area: t2;
}

#event-pic {
  grid-area: p3;
}

#event-text {
  grid-area: t3;
}
.about-item {
  margin: 15% 10%;
  text-align: left;
  /* margin: 10%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* text-align: justify;
  text-justify: justify;
  align-self: center;
  justify-self: center; */
}

.about-item > img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

#menu {
  grid-area: c3;
}

#entrees {
  grid-area: c4;
}

/* remove? */

.menu-container {
  align-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}

.menu-header {
  display: inline-block;
  max-width: 640px;
  padding: 3rem 0 0;
  /* margin: 0 auto 4rem auto; */
}

.menu-section {
  /* max-width: 1200px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  align-items: top;
  padding: 5%;
}

.menu-item {
  text-align: left;
  padding: 5%;
}

.gallery-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #ffeead;
}

.gallery-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-container {
  grid-area: c5;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

#contact {
  grid-area: c6;
}
.contact-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(12, minmax(25px, 90px));
  grid-row: repeat(8, minmax(200px, 500px));
  grid-template-areas:
    'h h h h h h h h h h h h'
    '. p1 p1 p1 p1 p1 p1 p1 p1 p1 p1 .'
    '. t1 t1 t1 t1 t1 t1 t1 t1 t1 t1 .'
    '. p3 p3 p3 p3 p3 p3 p3 p3 p3 p3 .'
    '. t3 t3 t3 t3 t3 t3 t3 t3 t3 t3 .';
}

.contact-header {
  grid-area: h;
  padding: 3rem 0 0;
}

.contact-links div {
  padding: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 2% 2%;
  border: thin solid var(--main-gold);
  border-radius: 5px;
}
.contact-details {
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

.contacts {
  text-align: center;
}

#contact-info {
  grid-area: p1;
}

#facebook {
  grid-area: t1;
}

.footer {
  grid-area: f;
  background-color: var(--main-header);
}

.light-text {
  color: var(--main-white);
}
/* 
Responsive Rules
*/

@media (min-width: 460px) {
  .about-container {
    grid-template-areas:
      'h h h h h h h h h h h h'
      '. p1 p1 p1 p1 p1 t1 t1 t1 t1 t1 .'
      '. t2 t2 t2 t2 t2 p2 p2 p2 p2 p2 .'
      '. p3 p3 p3 p3 p3 t3 t3 t3 t3 t3 .'
      '. t4 t4 t4 t4 t4 p4 p4 p4 p4 p4 .';
  }

  .contact-container {
    grid-template-areas:
      'h h h h h h h h h h h h'
      '. p1 p1 p1 p1 p1 t1 t1 t1 t1 t1 .'
      '. t2 t2 t2 t2 t2 p2 p2 p2 p2 p2 .'
      '. p3 p3 p3 p3 p3 t3 t3 t3 t3 t3 .'
      '. t4 t4 t4 t4 t4 p4 p4 p4 p4 p4 .';
  }
}

/* 
@media (min-width: 980px) {
  html {
    font-size: 1.15rem;
  }
  .nav {
    background: yellow;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.3rem;
  }
  .nav {
    background: pink;
  }
}

@media (min-width: 1900px) {
  html {
    font-size: 3vh;
  }
  .nav {
    background: pink;
  }
} 
*/
