:root {
  --main-gold: #beac74;
  --main-header: rgba(0, 0, 0, 0.9);
  --background-1: #171717;
  --background-2: #1f1f1f;
  --main-white: #ffffff;
  --main-text2: ;
}

/* Test change */

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  /* font-size: 1rem; */
  /* font-weight: 400; */  
  /* line-height: 1.4em; */
  /* New scalable text using modular scale
  https://www.codementor.io/ricardozea/100-responsive-typography-system-using-a-modular-scale-s5rhft58g */
  
  font-size: calc(12px + 0.35vw);
  line-height: calc(12px + 1.05vw);
  color: var(--main-gold);
  text-align: center;
  background-color: #000000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.main-container {
  width: 100%; /* For small screens */
  max-width: 1140px; /* For large screens */
  margin: auto; /* Center the container in the viewport */
}

/* 
The old CSS
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem;}
h4 { font-size: 1rem;} */

h1 {
  font-size: 1.912em;
  line-height: calc(18px + 1.8vw); /* Responsive Vertical Rhythm */
}

h2 {
  font-size: 1.616em;
  line-height: calc(18px + 1vw); /* Responsive Vertical Rhythm */
}

h3 {
  font-size: 1.471em;
  line-height: calc(18px + 0.7vw); /* Responsive Vertical Rhythm */
}

h4 { font-size: 1.3em; }
h5 { font-size: 1.243em; }
h6 { font-size: 1.132em; }

h4, h5, h6 { 
  line-height: calc(18px + .2vw); /* Responsive Vertical Rhythm */
}

h1, h2, h3, h4, h5, h6 {
  margin: calc(12px + 1.05vw) 0; /* Responsive margins */
}

ul { list-style: none;}

a {
  text-decoration: none;
  color: var(--main-gold);
}

img {
  display: block;
  /* width: auto; */
}

.spaced-text {
  letter-spacing: 0.5em;
}

.header-logo {
  height: 2.5em;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  /* flex-flow: row wrap; */
  position: fixed;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-1);
  z-index: 10;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-items: center; */
  height: 4em;
  flex-direction: row;
}

.nav-list .nav-link {
  display: block;
  /* font-size: 1em; */
  padding: 1em;
}
.nav-list img {
  display: block;
  /* font-size: 1.0em; */
  margin: 0.5rem;
}

.nav-list a:hover {
  background: var(--main-white);
}
/* .welcome-background {
  margin-top: 3.8em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row;
  width: 100%;
  height: 120vh;
  background-image: url("http://frasersgh.com/images/gallary/fr_0276.jpg");
} */
.welcome-section {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  flex-flow: row;
  margin-top: 4em;
  /* padding: 70px 5px; */
  width: 100%;
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("http://frasersgh.com/images/gallary/fr_0276.jpg");
}

.welcome-box {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  /* box-sizing: border-box; */
  /* overflow: hidden; */
  width: 80%;
  height: auto;
  margin: 2%;
  /* max-width: 350px; */
  background-color: var(--main-header);
}
.welcome-box div {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column;
  box-sizing: border-box;
  /* overflow: hidden; */
  border: thin solid var(--main-gold);
  /* max-width: 300px; */
  width: 100%;
  height: auto;
  padding: 10%;
  margin: 10%;
  background-color: var(--main-header);
}
.menu-section {
  text-align: center;
  padding: 2rem 2rem;
  background: var(--background-1);
}

.menu-section-header {
  display: inline-block;
  max-width: 640px;
  margin: 0 auto 4rem auto;
}

.menu-section-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  grid-gap: 5px;
  justify-content: center;
  align-content: center;
  /* justify-content: space-evenly;
  flex-wrap: wrap;
  flex-basis: 10em; */
  /* line-height: 1.5em; */
}

.menu-item {
  text-align: center;
  padding: 5px;
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  padding: 0 2rem;
  background: var(--background-2);
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 980px;
  margin-top: 4rem;
  /* flex-wrap: wrap; */
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}
.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* 
Responsive Rules
*/

@media (min-width: 460px) {
  html {
    /* font-size: 100%; */
  }
  .nav {
    /* background: red; */
  }
}

@media (min-width: 980px) {
  html {
    /* font-size: 115%; */
  }
  .nav {
    /* background: yellow; */
  }
}

@media (min-width: 1200px) {
  html {
    /* font-size: 130%; */
  }
  .nav {
    /* background: pink; */
  }
}

@media (min-width: 1900px) {
  html {
    /* font-size: 3vh; */
  }
  .nav {
    /*background: pink; */
  }
}
/* @media (max-width: 1200px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 55%;
  }
} */
