Options -Indexes +ExecCGI
AddHandler cgi-script .pl
DirectoryIndex awstats.pl

RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.frasersgh.com$ [NC]
RewriteRule ^(.*)$ http://frasersgh.com/awstats/$1 [R=301,L]
